.select-group {
  padding: 15px;
  border: 1px solid var(--border-secondary);
  border-radius: 4px;
  color: var(--text-tertiary);
  font-weight: var(--fw-normal);
  font-size: var(--fs-2xs);
  width: 100%;
  margin-top: 40px;
}
