.quantity-group {
  background-color: var(--bg-primary-200);
  color: var(--text-primary);
  max-width: 136px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
}

.quantity-group .btn {
  padding: 14px 20px;
  color: var(--text-primary);
  font-size: var(--fs-sm);
}

.quantity-group .input-group {
  padding: 0px;
  margin: 0px;
}

.quantity-group .input-text {
  margin: 10px;
  padding: 0px;
  min-width: 20px;
}

.quantity-group .quantity {
  background-color: var(--bg-primary-200);
  border: none;
  width: 10px;
  text-align: center;
}

.btn-decrement[disabled] {
  border: none;
  background-color: var(--bg-primary-200);
}

.btn-decrement[disabled]:hover {
  background-color: var(--bg-primary-200);
}
